.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}
h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(
    #553c9a 30%,
    #ee4b2b 40%,
    #ee4b2b 70%,
    #00c2cb 80%,
    #553c9a
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
/* .timeline-container::after {
  background-color: #ff1354;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  animation: lightPass 5s linear infinite;
} */
.container {
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  width: 10px;
  text-align: center;
  position: absolute;
}

.progress {
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 100%;
  height: 18px;
  background-color: #ee303c;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}
.progress-striped .progress-bar {
  background-color: #ff1354;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #00b690 12%,
    transparent 12%,
    #00b690 25%,
    #00b690 50%,
    transparent 50%,
    #00b690 60%,
    #00b690 70%,
    transparent 80%,
    #00b690 80%,
    #00b690 85%,
    transparent
  );
  animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes lightPass {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}

@media (max-width: 555px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 728px) {
  h1 {
    font-size: 60px;
  }
  .container {
    left: 20px;
  }
}
