.Itinerary {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-image: url("https://img.freepik.com/free-vector/geometric-shapes-background-flat-design_23-2148371114.jpg?w=1060&t=st=1692371959~exp=1692372559~hmac=bf23b8803ed02ac219f780935518ec25d28036bf9705b492de72491ba16a2563");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background-color: #212529;
  /* background-color: #15191d; */
  scrollbar-color: #00b690 white;
  scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #00b690;
  border-radius: 5px;
}

@media (max-width: 555px) {
  .Itinerary {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 728px) {
  .Itinerary {
    min-height: 100vh;
    grid-template-columns: 1fr;
  }
}
